asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
django-filter
Pillow
cloudinary
django-cloudinary-storage

django-allauth
dj-rest-auth
drf-nested-routers
django-debug-toolbar